@using GameStore.Extension;
@model GameStore.WebUI.Areas.Admin.Models.DTO.ProductDTO
@{
    ViewBag.Title = "Подробнее";
}
@Html.Partial("_FrontPartial")
@Html.HiddenFor(o=>o.ProductId)
<div class="row" style="text-align:center;">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"><img src="~/images/@Model.Image" class="img-responsive" style="width:300px" alt="Image" onError="this.src='/images/NotFound.png'"></div>
    <div class="col-sm-3">
        <div>
            <h2>@Model.ProductName <small><span class="label label-danger">@Model.CategoryName</span></small></h2>
            <div class="special_item_price">
                Цена:
                <span class="price-old">@Html.FormattedCurrency(Model.Price)</span><span class="price-new">@Html.FormattedCurrency(Model.GetDiscountedPrice())</span>
            </div>
            <div>Описание: @Model.Condition</div>
            <div>
                @using (Html.BeginForm("CreateOrUpdate", "ShoppingCart", FormMethod.Post))
                {
                <input type='hidden' name='id' value='@Model.ProductId'>
                    <input type='hidden' name='quantity' value='0'>
                                    <input type='submit' class='btn btn-warning' value='Добавить в корзину'>}
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>

    

</div>


<a href='javascript: history.length > 1 ? history.go(-1): null'>&#8617;Вернуться назад</a>